@import "function";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

h5, h2{
    text-align: center;
    color: black;
}

h4{
    color: red;
}

#testocentro{
    text-align: center;
}

#rosso{
    color: red;
}